In [1]:

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [2]:
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [4]:

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L
L[3:5]

['MJ', 1]

In [5]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [6]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [7]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [8]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [9]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [10]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [11]:
'hard rock'.split()

['hard', 'rock']

In [12]:

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

Copy and Clone List

In [13]:

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [14]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [15]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [16]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [17]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1,"Hello",[1,2,3],True]

In [18]:
#Find the value stored at index 1 of a_list.
a_list[1]

'Hello'

In [19]:
#Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

['Hello', [1, 2, 3], True]

In [20]:
#Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a']
B = [2, 1, 'd']

In [21]:
c = A+B

In [22]:
c

[1, 'a', 2, 1, 'd']

In [23]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [24]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [25]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [26]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [27]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [28]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [29]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [30]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [31]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [32]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [33]:
# Get the length of tuple

len(tuple2)

5

In [34]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [35]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [36]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [37]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [38]:
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [39]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [40]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [41]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [42]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [43]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [44]:
len(genres_tuple)

8

In [45]:
genres_tuple[3]

'hard rock'

In [46]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [47]:
genres_tuple[0:2]

('pop', 'rock')

In [48]:
genres_tuple[7][2]

's'

In [49]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]