Arbitary Arguments:

In [3]:
def welcome(*args):
  for i in args:
    print("Welcome!",i)

In [6]:
welcome("Stuard")
welcome("Stuard","John")
welcome("Stuard","John","Austin")

Welcome! Stuard
Welcome! Stuard
Welcome! John
Welcome! Stuard
Welcome! John
Welcome! Austin

In [11]:
lst = ['UTA','UNT','UTD']
def university(*x):
  for i in x:
    for j in i:
      print("Hello",j)

In [10]:
university(lst)

Hello UTA
Hello UNT
Hello UTD

the arbitary arguments create the iterable data structure like tuple hence the for loop can be run on it

In [14]:
def get_elements(*x):
  print(type(x))
  for i in x:
      print(i)

In [15]:
get_elements(20,30,40)

<class 'tuple'>
20
30
40

** for keyword arguments and * for positional arguments

keyword arguments --> dict data structure

items for both,
.keys for keys
.value for value

In [16]:
def display_info(**kaargs):
  for k,v in kaargs.items():
    print(f"{k} : {v}")

In [17]:
display_info(name = 'Alice')

name : Alice

Lambda Functions

In [20]:
#syntax for lambda functions
# Lambda arguments : expression

def add(x,y):
  return(x+y)
add(2,4)

6

In [23]:
res = lambda x,y: x+y
res(3,4)

7

In [29]:
def multiply(x):
  return (x*100)

multiply(2)

200

In [30]:
res = lambda x : x*100
res(2)

200

Write a lambda function that takes 2 numbers as arguments and return their product

In [28]:
res = lambda x,y : x*y
res(2,7)

14

Write a lambda function that takes string and return its length

In [32]:
res = lambda stri : len(stri)
res("Priya")

5

In [33]:
sent = "I like me"
res = lambda sent :  len(sent.split())

In [34]:
res(sent)

3

Write a lambda function that takes a number as an argument and returns "positive" if the number is greater than zero and "non-positive" otherwise

In [42]:
res = lambda num : "Positive" if num>0 else "Non-Positive"
res(10)

'Positive'

Write a lambda function that takes a number as an argument and returns "positive" if the number is greater than zero and "zero" if the number is equal to zero and "Non positive" if its less than zero

In [47]:
res =  lambda num: "Positive" if num>0  else "Zero" if num==0 else "Non-positive"
res(-1)

'Non-positive'

Map() Function

In [50]:

lst = [10,20,30]
lst2 =[]
for i in lst:
  lst2.append(i*i)
print(lst2)

[100, 400, 900]

In [54]:
#map(function, iterable)

res =  list(map(lambda x : x*x, lst))
print(res)

[100, 400, 900]

In [57]:
lst1= range(1,11)
lst2 = range(10,21)

In [59]:
res = list(map(lambda x,y:x*y,lst1,lst2))
print(res)

[10, 22, 36, 52, 70, 90, 112, 136, 162, 190]