Loops:

while

In [ ]:
x = 5
y = 10
while x<= y: # condition
  print("I love UTA")
  #print(x)
  print (y)
  y-=1
  #x+=1 # increment condition

I love UTA
10
I love UTA
9
I love UTA
8
I love UTA
7
I love UTA
6
I love UTA
5

In [ ]:
num = int(input("Enter the number"))
while num < 0:
  print("UTA")

Enter the number0

For loop

In [ ]:
lst =['UTA','TX','Arlington']
for i in lst:
  print(i)

UTA
TX
Arlington

In [ ]:
name ='Texas'
for i in name:
  print(i)

T
e
x
a
s

In [ ]:
x = "10"
#print(type(x))
for i in x:
  print(i)

1
0

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10,5): # 3rd number is increment
  print(i)

2
7

In [ ]:
for i in range(10,10):
  print(i)

In [ ]:
for i in range(2,10,-1): # 3rd number is increment
  print(i)

In [ ]:
for i in range(10,2,-1): # 3rd number is increment
  print(i)

10
9
8
7
6
5
4
3

Exercise:
For loop for printing number from 1 to 10:

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

For loop for printing number from 10 to 1:

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

Write a program that takes an integer from the user and prints all the even numbers from 0 to that integer

In [ ]:
num= int(input("Enter the number: "))
for i in range(0,num+1):
  if (i%2 == 0):
    print(i)

Enter the number: 5
0
2
4

Or

In [ ]:
num= int(input("Enter the number: "))
for i in range(0,num+1,2):
  print(i)

Enter the number: 10
0
2
4
6
8
10

Write a program that takes an integer from the user and prints all the odd numbers from 0 to that integer and sum them up

In [ ]:
num= int(input("Enter the number: "))
total =0
for i in range(0,num+1):
  if (i%2 == 1):
    total +=i
    print(i)
print(f"Sum of all odd numbers: {total}")

Enter the number: 10
1
3
5
7
9
Sum of all odd numbers: 25