Tuples:

tuples can be converted to list() method
list can be converted to tuple() method

In [ ]:
tup1 = (10,20,30)
tup2 = (100,200,300)
a,b,c = tup1

In [ ]:
print(a)
print(b)
print(c)

10
20
30

In [ ]:
tup3 = tup1 + tup2

In [ ]:
tup3

(10, 20, 30, 100, 200, 300)

In [ ]:
tup4 = tup1 * 3

In [ ]:
tup4

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [ ]:
tup5 = (10,30,20,(100,200),[1000,2000])

In [ ]:
tup5[-2]

(100, 200)

In [ ]:
tup5[-1]

[1000, 2000]

In [ ]:
tup5[-1][0]

1000

In [ ]:
tup5[-1][0] = 5000 # because it is list

In [ ]:
tup5

(10, 30, 20, (100, 200), [5000, 2000])

In [ ]:
tup5[0] = 1000 # cant be done because it is in tuple form but an element like list is mutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup5[-2:-4:1]

()

In [ ]:
tup5[-2:-4:-1]

((100, 200), 20)

In [ ]:
tup = tuple(i*i for i in range(1,11) if i%2 == 0)

In [ ]:
tup

(4, 16, 36, 64, 100)

In [ ]:
tup = tuple(i for i in range(1,11))
sum =0
for i in tup:
  sum +=i
print(sum)
print(sum/len(tup))

55
5.5

In [ ]:
tup =('Apple','banana')
for i in range(len(tup)):
  print(tup[i])

Apple
banana

In [ ]:
res = tuple(reversed(tup))

In [ ]:
res

('banana', 'Apple')

In [ ]:
tup[2::-1]

('banana', 'Apple')

In [ ]:
tup= (1,2,3)
tup1= (2,3,4)
res = sum(tuple(map(lambda x,y:x*y,tup,tup1)))
res

20

In [ ]:
import numpy as np
res = np.dot(tup,tup1)
res

70

In [ ]:
sum =0
for i in range(len(tup)):
  mul = tup[i]*tup1[i]
  sum += mul
print(sum)

70

In [ ]:
t1 = ('dallas','Arlington','irving')
for i, city in enumerate(t1):
  print(i)
  print(city)

0
dallas
1
Arlington
2
irving

In [ ]:
def sort_out(lt):
  res = sorted(lst,key = lambda x : x[1])
  return res

In [ ]:
lst =[(1,3),(2,1),(4,5),(2,2)]
res= sort_out(lst)
res

[(2, 1), (2, 2), (1, 3), (4, 5)]

Dictionary:

In [ ]:
d = {
    "ID1" : 100 ,
    "ID2" : 102,
    "ID3" : 103,
    "ID4" : 104
}

In [ ]:
type(d)

dict

In [ ]:
d["ID1"]

100

In [ ]:
d["ID5"] = 105

In [ ]:
d

{'ID1': 100, 'ID2': 102, 'ID3': 103, 'ID4': 104, 'ID5': 105}

In [ ]:
d["ID2"] = 1002

In [ ]:
d

{'ID1': 100, 'ID2': 1002, 'ID3': 103, 'ID4': 104, 'ID5': 105}

In [ ]:
for i in d:
  print(i)

ID1
ID2
ID3
ID4
ID5

In [ ]:
for i in d.values():
  print(i)

100
1002
103
104
105

In [ ]:
for i in d.keys():
  print(i)

ID1
ID2
ID3
ID4
ID5

In [ ]:
for i,j in d.items():
  print(i)
  print(j)

ID1
100
ID2
1002
ID3
103
ID4
104
ID5
105

In [ ]:
di = {
    "Person1" : {"Name" : "John", "age" : 40},
    "Person2" : {"Name" : "Alex", "age" : 30},
    "Person3" : {"Name" : "Bob", "age" : 34},
}

In [ ]:
di["Person1"]["Name"]

'John'

In [ ]:
di["Person1"]["Name"] ="Adam"

In [ ]:
di["Person1"]["Name"]

'Adam'

dictionary comprehension

In [2]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
dc ={}
for i in range(1,11):
  dc[i] = i*i
dc

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [9]:
res= {i : i*i for i in range(1,11)}
res

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
dc ={}
for i in range(1,11):
  if i >5 :
    dc[i] = i*i
dc

{6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [11]:
res= {i : i*i for i in range(1,11) if i >5}
res

{6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [20]:
for i,j in res.items():
  if i >6 and j >80:
    print(i,j)

9 81
10 100

In [21]:
re= {i : j for i,j in res.items() if i >6 and j>80}
re

{9: 81, 10: 100}

In [23]:
re= {i : j for i,j in {i : i*i for i in range(1,21) if i >5}.items() if i >6 and j>80}
re

{9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400}

In [26]:
dc= {"mango":10 , "apple" :15,"banana":20}
res = { i:j for i, j in dc.items() if j>10}
res

{15: 'apple', 20: 'banana'}

In [29]:
res = { j:i for i, j in dc.items() if j>10}
res

{15: 'apple', 20: 'banana'}

In [30]:
res = { j:i for i, j in dc.items() if j>10 and len(i)>5}
res

{20: 'banana'}

In [31]:
state = {'Alabama': 'Montgomery',
'Alaska': 'Juneau',
'Arizona': 'Phoenix',
'Arkansas': 'Little Rock',
'California': 'Sacramento',
'Colorado': 'Denver',
'Connecticut': 'Hartford',
'Delaware': 'Dover',
'Florida': 'Tallahassee',
'Georgia': 'Atlanta',
'Hawaii': 'Honolulu',
'Idaho': 'Boise',
'Illinois': 'Springfield',
'Indiana': 'Indianapolis',
'Iowa': 'Des Moines',
'Kansas': 'Topeka',
'Kentucky': 'Frankfort',
'Louisiana': 'Baton Rouge',
'Maine': 'Augusta',
'Maryland': 'Annapolis',
'Massachusetts': 'Boston',
'Michigan': 'Lansing',
'Minnesota': 'Saint Paul',
'Mississippi': 'Jackson',
'Missouri': 'Jefferson City',
'Montana': 'Helena',
'Nebraska': 'Lincoln',
'Nevada': 'Carson City',
'New Hampshire': 'Concord',
'New Jersey': 'Trenton',
'New Mexico': 'Santa Fe',
'New York': 'Albany',
'North Carolina': 'Raleigh',
'North Dakota': 'Bismarck',
'Ohio': 'Columbus',
'Oklahoma': 'Oklahoma City',
'Oregon': 'Salem',
'Pennsylvania': 'Harrisburg',
'Rhode Island': 'Providence',
'South Carolina': 'Columbia',
'South Dakota': 'Pierre',
'Tennessee': 'Nashville',
'Texas': 'Austin',
'Utah': 'Salt Lake City',
'Vermont': 'Montpelier',
'Virginia': 'Richmond',
'Washington': 'Olympia',
'West Virginia': 'Charleston',
'Wisconsin': 'Madison',
'Wyoming': 'Cheyenne'}

In [41]:
import random
count =0
while True:
  num = random.randint(1,50)
  i = 1
  for k,v in state.items():
    if i == num:
      i+=1
      print("What is the capital of ",k)
      ans = input("Enter the answer")
      if ans.capitalize() == v.capitalize():
        count += 10
        print("Your right!")
      else:
        print("Your wrg :(")
        print("Right answer is ",v)
    else:
      i+=1
  command = input("want to continue(y/n)")
  if command.lower() == 'n':
    break

print("Your score is ",count)

What is the capital of  California
Enter the answerSacramento
Your right!
want to continue(y/n)y
What is the capital of  South Carolina
Enter the answerColumbia
Your right!
want to continue(y/n)n
Your score is  20

In [46]:
import random
play = "yes"
correct =[]
incorrect =[]
correct_points =0
while play == "yes":
  quest = random.choice(list(state.keys()))
  print("What is the capital of ",quest)
  ans = input("Enter the capital name: ").title()
  if ans == state[quest]:
    print("your answer is correct!")
    correct.append(quest)
    correct_points +=10
  else:
    print("Your answer is wrong")
    print("The correct answer is ", state[quest])
    correct_points += 5
    incorrect.append(quest)
  play = input("want to play  more: (yes/no): ")

print("Points earned",correct_points)
print("You got right for ", correct)
print("You got wrg for",incorrect)

What is the capital of  Idaho
Enter the capital name: Boise
your answer is correct!
want to play  more: (yes/no): yes
What is the capital of  Washington
Enter the capital name: Olympia
your answer is correct!
want to play  more: (yes/no): yes
What is the capital of  Vermont
Enter the capital name: Montpelier
your answer is correct!
want to play  more: (yes/no): yes
What is the capital of  Maine
Enter the capital name: columbus
Your answer is wrong
The correct answer is  Augusta
want to play  more: (yes/no): no
Points earned 35
You got right for  ['Idaho', 'Washington', 'Vermont']
You got wrg for ['Maine']

In [ ]:
""