Tuples:

tuples can be converted to list() method
list can be converted to tuple() method

In [9]:
tup1 = (10,20,30)
tup2 = (100,200,300)
a,b,c = tup1

In [10]:
print(a)
print(b)
print(c)

10
20
30

In [11]:
tup3 = tup1 + tup2

In [12]:
tup3

(10, 20, 30, 100, 200, 300)

In [13]:
tup4 = tup1 * 3

In [14]:
tup4

(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [15]:
tup5 = (10,30,20,(100,200),[1000,2000])

In [16]:
tup5[-2]

(100, 200)

In [17]:
tup5[-1]

[1000, 2000]

In [18]:
tup5[-1][0]

1000

In [19]:
tup5[-1][0] = 5000 # because it is list

In [20]:
tup5

(10, 30, 20, (100, 200), [5000, 2000])

In [22]:
tup5[0] = 1000 # cant be done because it is in tuple form but an element like list is mutable

TypeError: 'tuple' object does not support item assignment

In [26]:
tup5[-2:-4:1]

()

In [27]:
tup5[-2:-4:-1]

((100, 200), 20)

In [33]:
tup = tuple(i*i for i in range(1,11) if i%2 == 0)

In [34]:
tup

(4, 16, 36, 64, 100)

In [36]:
tup = tuple(i for i in range(1,11))
sum =0
for i in tup:
  sum +=i
print(sum)
print(sum/len(tup))

55
5.5

In [39]:
tup =('Apple','banana')
for i in range(len(tup)):
  print(tup[i])

Apple
banana

In [42]:
res = tuple(reversed(tup))

In [43]:
res

('banana', 'Apple')

In [46]:
tup[2::-1]

('banana', 'Apple')

In [1]:
tup= (1,2,3)
tup1= (2,3,4)
res = sum(tuple(map(lambda x,y:x*y,tup,tup1)))
res

20

In [48]:
import numpy as np
res = np.dot(tup,tup1)
res

70

In [50]:
sum =0
for i in range(len(tup)):
  mul = tup[i]*tup1[i]
  sum += mul
print(sum)

70

In [64]:
t1 = ('dallas','Arlington','irving')
for i, city in enumerate(t1):
  print(i)
  print(city)

0
dallas
1
Arlington
2
irving

In [6]:
def sort_out(lt):
  res = sorted(lst,key = lambda x : x[1])
  return res

In [7]:
lst =[(1,3),(2,1),(4,5),(2,2)]
res= sort_out(lst)
res

[(2, 1), (2, 2), (1, 3), (4, 5)]

Dictionary:

In [8]:
d = {
    "ID1" : 100 ,
    "ID2" : 102,
    "ID3" : 103,
    "ID4" : 104
}

In [9]:
type(d)

dict

In [10]:
d["ID1"]

100

In [12]:
d["ID5"] = 105

In [13]:
d

{'ID1': 100, 'ID2': 102, 'ID3': 103, 'ID4': 104, 'ID5': 105}

In [14]:
d["ID2"] = 1002

In [15]:
d

{'ID1': 100, 'ID2': 1002, 'ID3': 103, 'ID4': 104, 'ID5': 105}

In [16]:
for i in d:
  print(i)

ID1
ID2
ID3
ID4
ID5

In [18]:
for i in d.values():
  print(i)

100
1002
103
104
105

In [19]:
for i in d.keys():
  print(i)

ID1
ID2
ID3
ID4
ID5

In [22]:
for i,j in d.items():
  print(i)
  print(j)

ID1
100
ID2
1002
ID3
103
ID4
104
ID5
105

In [23]:
di = {
    "Person1" : {"Name" : "John", "age" : 40},
    "Person2" : {"Name" : "Alex", "age" : 30},
    "Person3" : {"Name" : "Bob", "age" : 34},
}

In [26]:
di["Person1"]["Name"]

'John'

In [27]:
di["Person1"]["Name"] ="Adam"

In [28]:
di["Person1"]["Name"]

'Adam'