# Variable
1. primitive and Non primitive

In [1]:
num1 = 10
type(num1)

int

In [2]:
num2 = 10.3
type(num2)

float

In [3]:
name ="Priya"
type(name)

str

In [4]:
num3 = int("10") #typecasting
type(num3)

int

In [5]:
#No space in naming convention

In [6]:
firstName = "ABC" # Camel case
FirstName = "ABC"  # Pascal case
first_name = "ABC" # Snake case

In [7]:
text1 = "ABC"
text2 = "CDE"
res = text1 + " " + text2  #combining the values (does not consider the white space)
print(res)

ABC CDE

In [8]:
school = "UTA"
print("I Like"+school)
print("I like "+school)
print("I like",school)

I LikeUTA
I like UTA
I like UTA

In [9]:
print( "I like 'Arlington'")
print('I like "Arlington"')
print("I like \"Arlington\"")

I like 'Arlington'
I like "Arlington"
I like "Arlington"

In [10]:
print("I like" + "\n" + "UTA")

I like
UTA

In [11]:
fn, ln = "ABC" , "DEF"
print(fn)
print(ln)

ABC
DEF

In [13]:
#fn, ln = "ABC" # error
print(fn)
print(ln)

ABC
DEF

In [14]:
fn = ln = "ABC" # error
print(fn)
print(ln)

ABC
ABC

In [15]:
fn = "ABC" , "CDE"
print(fn)
type(fn)

('ABC', 'CDE')

tuple

In [16]:
x =10
y ="UTA"
print(f"Before swap, x is {x} and y is {y}")
y ,x = x,y
print(f"After swap, x is {x} and y is {y}") # f is used for formatting

Before swap, x is 10 and y is UTA
After swap, x is UTA and y is 10

#User Input

In [17]:
course_name = input("Enter your course name:")
print("Course",course_name)
type(course_name)

Enter your course name:
Course

str

In [20]:
course_name = (input("Enter your course name:"))
print("Course",course_name)
print("Course "+str(course_name))
#print("Course"+course_name) # gives error
type(course_name)

Enter your course name:python
Course python
Course python

str

#Operators

In [21]:
num1 = 10
num2 = 3
res = num1 + num2
print(res)

13

In [22]:
res = num1 - num2
print(res)

7

In [23]:
res = num1 / num2
print(res)

3.3333333333333335

In [24]:
res = num1 * num2
print(res)

30

In [25]:
res = num1 // num2
print(res)

3

In [26]:
res = num1 % num2
print(res)

1

In [27]:
res = num1 ** num2
print(res)

1000

#Math library

to install the library we use pip command

In [28]:
import math
n1=10
n2=3
print(math.pow(n1,n2))
print(math.sqrt(n1))
print(math.factorial(5))

1000.0
3.1622776601683795
120

f- string

In [29]:
res= n1/n2
print(f"Result is {res:.4f}")

Result is 3.3333

In [30]:
big_num = 145678909456789056789.67890900
print(f"Big number: {big_num:,.3f}")

Big number: 145,678,909,456,789,061,632.000

#Exercise

In [34]:
stud_name = input("Enter your name:")
sc1 = int(input("Enter score 1:"))
sc2 = int(input("Enter score 2:"))
sc3=  int(input("Enter score 3:"))
print("My name is "+ stud_name +" my average score is "+ str(((sc1+sc2+sc3)/3)))

Enter your name:priya
Enter score 1:30
Enter score 2:90
Enter score 3:60
My name is priya my average score is 60.0

Excerice

Get three random numbers
from 1 – 100 that are only
multiples of 5.
Show the numbers, sum
them up and display your
total score.
(hints: use random)

In [40]:
import random
num1 = random.choice(range(0,101,5))
num2 = random.choice(range(0,101,5))
num3 = random.choice(range(0,101,5))
total = num1 +num2+num3
print(f" Total score {total}")

 Total score 150

Prompt user to input the base and
height of a right triangle.
Compute and display – area, length
of the third side (hypotenuse), and
perimeter.
(hints: use math)

In [42]:
base = int(input("Enter the base of Triangle: "))
height = int(input("Enter the height of Triangle:"))
area = (1/2) * base * height
hyp = math.sqrt((base ** 2) + (height ** 2))
peri = base + height + hyp
print(f'the area of triangle is {area}')
print(f'the hypotenuse of triangle is {hyp}')
print(f"the perimeter of triangle is {peri}")

Enter the base of Triangle: 3
Enter the height of Triangle:4
the area of triangle is 6.0
the hypotenuse of triangle is 5.0
the perimeter of triangle is 12.0

Write a program that will ask a real state agent
to enter the price of a house.
• The program should compute a tax of 3% and
display the amount of initial
price, tax amount, and final price.
• Use a caption titled "House Price", f-
string format with 3 decimals.

In [46]:
price = float(input("Enter the price of the house: "))
tax = (price * 3) / 100
print(f"the price of the house is {price:,.3f} and tax is {tax:,.3f} in total {price+tax:,.3f}")

Enter the price of the house: 8943953.6597
the price of the house is 8,943,953.660 and tax is 268,318.610 in total 9,212,272.269

Write a program to enter the
number of female and male students in the class.
• The program should compute and display the
percentage with each category.
• Is it true that the number of male
student is higher than the number of female
student? Display it.

In [49]:
male = int(input("Number of male students: "))
female = int(input("Number of female students: "))
p_m = (male / (male + female)) * 100
p_f = (female / (male + female)) * 100
print("the percentage of male students", p_m)
print("the percentage of female students", p_f)
print(f"The number of male students is higher than the number of female students is {p_m > p_f }")

Number of male students: 10
Number of female students: 30
the percentage of male students 25.0
the percentage of female students 75.0
The number of male students is higher than the number of female students is False