Arbitary Arguments:

In [ ]:
def welcome(*args):
  for i in args:
    print("Welcome!",i)

In [ ]:
welcome("Stuard")
welcome("Stuard","John")
welcome("Stuard","John","Austin")

Welcome! Stuard
Welcome! Stuard
Welcome! John
Welcome! Stuard
Welcome! John
Welcome! Austin

In [ ]:
lst = ['UTA','UNT','UTD']
def university(*x):
  for i in x:
    for j in i:
      print("Hello",j)

In [ ]:
university(lst)

Hello UTA
Hello UNT
Hello UTD

the arbitary arguments create the iterable data structure like tuple hence the for loop can be run on it

In [ ]:
def get_elements(*x):
  print(type(x))
  for i in x:
      print(i)

In [ ]:
get_elements(20,30,40)

<class 'tuple'>
20
30
40

** for keyword arguments and * for positional arguments

keyword arguments --> dict data structure

items for both,
.keys for keys
.value for value

In [ ]:
def display_info(**kaargs):
  for k,v in kaargs.items():
    print(f"{k} : {v}")

In [ ]:
display_info(name = 'Alice')

name : Alice

Lambda Functions

In [ ]:
#syntax for lambda functions
# Lambda arguments : expression

def add(x,y):
  return(x+y)
add(2,4)

6

In [ ]:
res = lambda x,y: x+y
res(3,4)

7

In [ ]:
def multiply(x):
  return (x*100)

multiply(2)

200

In [ ]:
res = lambda x : x*100
res(2)

200

Write a lambda function that takes 2 numbers as arguments and return their product

In [ ]:
res = lambda x,y : x*y
res(2,7)

14

Write a lambda function that takes string and return its length

In [ ]:
res = lambda stri : len(stri)
res("Priya")

5

In [ ]:
sent = "I like me"
res = lambda sent :  len(sent.split())

In [ ]:
res(sent)

3

Write a lambda function that takes a number as an argument and returns "positive" if the number is greater than zero and "non-positive" otherwise

In [ ]:
res = lambda num : "Positive" if num>0 else "Non-Positive"
res(10)

'Positive'

Write a lambda function that takes a number as an argument and returns "positive" if the number is greater than zero and "zero" if the number is equal to zero and "Non positive" if its less than zero

In [ ]:
res =  lambda num: "Positive" if num>0  else "Zero" if num==0 else "Non-positive"
res(-1)

'Non-positive'

Map() Function

In [ ]:

lst = [10,20,30]
lst2 =[]
for i in lst:
  lst2.append(i*i)
print(lst2)

[100, 400, 900]

In [ ]:
#map(function, iterable)

res =  list(map(lambda x : x*x, lst))
print(res)

[100, 400, 900]

In [1]:
lst1= range(1,11)
lst2 = range(10,21)

In [2]:
res = list(map(lambda x,y:x*y,lst1,lst2))
print(res)

[10, 22, 36, 52, 70, 90, 112, 136, 162, 190]

In [3]:
fname = ['Adam' ,'Stuard']
lname = ['Smith', 'Johnson']

res = list(map(lambda x,y: x +" " +y,fname,lname))
print(res)

['Adam Smith', 'Stuard Johnson']

Give increment of 20 percent to the salary

In [9]:
lst = [10000,20000,25000]
#using map
res=list(map(lambda x:x+x*.2,lst))
print(res)

[12000.0, 24000.0, 30000.0]

In [11]:
# noraml form
output=[]
for i in lst:
  output.append(i + i*0.2)
print(output)

[12000.0, 24000.0, 30000.0]

Reduce() Function:

In [12]:
from functools import reduce

In [17]:
lst = [10,20,30,40,50]

#normal way
total =0
for i in lst:
  total +=i
print(total)

150

In [22]:
# Using Reduce function
res= reduce(lambda x,y: x+y ,lst)
print(res)

150

In [24]:
# concat the strings
words = ['I','Like','UTA']
res = reduce(lambda x,y: x+" "+y,words)
print(res)

I Like UTA

In [31]:
#Calculate factorial of a number using reduce function
num = int(input("Enter the factorial number: "))
lst =range(1,num+1)
res= reduce(lambda x,y: x*y, lst)
print(res)

Enter the factorial number: 5
120

Filter function

In [32]:
lst = [10000, 5000, 15000, 7000]
res = list(filter(lambda x: x> 10000, lst))
print(res)

[15000]

In [33]:
lst = ['UTA',"UTD",'UNT','KU','SMU']
res = list(filter(lambda x: x[-1] =='T' or x[-1]=="U",lst))
print(res)

['UNT', 'KU', 'SMU']

In [34]:
res = list(filter(lambda x: x[-1] in "TU" ,lst))
print(res)

['UNT', 'KU', 'SMU']